<h1>Listing pairs</h1>

<table>
  <thead>
    <tr>
      <th>Task session</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.task_session %></td>
        <td><%= pair.result %></td>
        <td><%= link_to 'Show', pair %></td>
        <td><%= link_to 'Edit', edit_pair_path(pair) %></td>
        <td><%= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pair', new_pair_path %>
