<p id="notice"><%= notice %></p>

<p>
  <strong>Indulgence rating:</strong>
  <%= @product.indulgence_rating %>
</p>

<p>
  <strong>Good for me rating:</strong>
  <%= @product.good_for_me_rating %>
</p>

<p>
  <strong>Calories per serving:</strong>
  <%= @product.calories_per_serving %>
</p>

<p>
  <strong>Fat per serving:</strong>
  <%= @product.fat_per_serving %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
